<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4a200162-40c9-4a48-a2d6-9007f09886d6/resourceGroups/rg-jcommerce-southafricanorth-dev-001/providers/Microsoft.Web/sites/app-edspacesolutions-dev-001</ResourceId>
    <ResourceGroup>rg-jcommerce-southafricanorth-dev-001</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://app-edspacesolutions-dev-001-dfd4b5dpfbg2f9aa.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e3817782-4a55-42ed-aef8-7dc30b43d082</ProjectGuid>
    <MSDeployServiceURL>app-edspacesolutions-dev-001-dfd4b5dpfbg2f9aa.scm.southafricanorth-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>app-edspacesolutions-dev-001</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>jcommerce</UserName>
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <SQLConnectionString>Server=tcp:sqlserver-jcommerce-dev-001.database.windows.net,1433;Initial Catalog=sqldb-jcommerce-dev-001;Persist Security Info=False;User ID=jcommerce;Password=Omenda2021;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</SQLConnectionString>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>